#icon{
    width: 75px;
    height: 75px;
}
/* #navi{
    position: fixed;
} */
.enter{
    width: 400px;
}
.shoe{
    width: 300px;
    height: 300px;
}
.shirt{
    width: 300px;
    height: 300px;
}
.pant{
    width: 300px;
    height: 300px;
}
.bag{
    width: 300px;
    height: 300px;
}
.watch{
    width: 300px;
    height: 300px;
}
.mobile{
    width: 300px;
    height: 300px;
}
.tws{
    width: 300px;
    height: 300px;
}
.laptop{
    width: 300px;
    height: 300px;
}
.sunglasses{
    width: 300px;
    height: 300px;
}
#size{
    width: 1750px; 
    height: 700px;
}
.high:hover{
    transform: scale(1.15,1.15);
    transition: 100ms;
}
/* .lig300
    border: 5px solid rgb(235, 125, 198);
} */
 footer{
    color: rgba(0, 0, 0, 0.5);
 }
 .foot{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
 }
 .verylast{
    margin-left: 20%;
    margin-right: 20%;
 }
 pict1{
    margin-right: 10px;
 }
 .atlast{
    width: 1000px;
    margin-top: 10px;
 }
 b{
    color:rgb(0, 0, 0);
 }